src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="79d8efea-7baa-424d-b6db-a6e179a7bd41" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a48e82b3-2255-4925-9db5-bcc4d7ff3dd8" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getallflights" doc:id="ff633285-0be1-4845-9e5b-012a41be3ece" >
		<http:listener doc:name="GET /flights" doc:id="e5e660d4-9b66-4fed-84cf-8a119e2aaea2" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select all flights" doc:id="0c17330c-2e49-40b6-b04e-c475ccf62c20" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ed2c0207-d380-4a60-b723-3a5ba3a12b72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log fetched flights ID" doc:id="7b0de790-a1c8-47f2-a495-36fe2636ea90" message="#[payload.ID]"/>
	</flow>
	<flow name="getFlightbyID" doc:id="3ea46110-60ed-49be-92aa-e0a070ecdd84" >
		<http:listener doc:name="GET /flights/{ID}" doc:id="5dad344f-087d-46d2-84fb-e773433e9157" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<set-variable value="#[message.attributes.uriParams.ID]" doc:name="Set Flight ID" doc:id="3e3ba27b-6405-450b-91b6-73fba895161b" variableName="flightid"/>
		<db:select doc:name="Select flight by ID" doc:id="be5a72e3-ae85-400c-aab5-7286aaeddda9" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM american where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"ID": vars.flightid}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ee6156f8-2b57-42ad-9f9d-5fd67aa6060f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log fetched flights ID" doc:id="723cae9a-add9-48a1-98f3-c3a0483076c0" message="#[payload.ID]" />
	</flow>
</mule>
